mixin field-select(title, attrs, options, helpText, mods)

  //- Param:
    title: ''         {string} - select name
    attrs:            {object}
      name: ''        {string}
    options {array}
      {object}
        title: ''     {string} - input text
        attrs:        {object}
          value:      {string}
      {object}
        attrs:        {object}
          label:      {string}
        child:        {array}  - children
          {object}
            title: '' {string}
            attrs:    {object}
              value:  {string}
      {object}
        title: ''     {string} - input text
        attrs:        {object}
          value:      {string}
    helpText: ''      {string}
    mods: ''          {string}

  //- Use:
    +field-select(
      'Select name',
      {
        name: 'select',
        id: 'select'
      },
      [
        {
          title: 'Input 1',
          attrs: {
            value: '',
          }
        },
        {
          title: 'Input 2',
          attrs: {
            value: '',
          }
        },
      ],
      'Help text',
      ''
    )

    +field-select(
      'Select name',
      {
        name: '',
        id: ''
      },
      [
        {
          attrs: {
            label: 'Group name',
          },
          child: [
            {
              title: 'Input 1',
              attrs: {
                value: 'val01',
              }
            },
            {
              title: 'Input 2',
              attrs: {
                value: 'val02',
              }
            },
          ]
        },
        {
          title: 'Input 3',
          attrs: {
            value: 'val03',
          }
        }
      ],
      'Help text',
      ''
    )

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-field-select--' + modsList[i].trim();
      }
    }

  .s-field-select(class=allMods)&attributes(attributes)

    if (typeof(title) !== 'undefined' && title)
      .s-field-select__name!= title

    select.s-field-select__select&attributes(attrs)

      each option in options
        if (typeof(option.child) !== 'undefined' && option.child)
          optgroup(label=option.attrs.label)

            each subOption in option.child
              option&attributes(subOption.attrs)= subOption.title

        else if(typeof(option.title) !== 'undefined' && option.title)
          option&attributes(option.attrs)= option.title

    if (typeof(helpText) !== 'undefined' && helpText)
      span.s-field-select__help-text!= helpText
