mixin about-company()

  section.s-about-company
    .s-about-company__container
      h2.s-about-company__title О компании
      .s-about-company__text
        p Российское производство по серийному выпуску деталей из листового металла. Производственная Компания «ТЕРРА» это инновационный проект по организации высокотехнологичного производства, специализирующегося на выпуске деталей из листового металла с использованием технологии ротационной вытяжки, гибки, отбортовки, вальцовки и сварки, включая сварку методом TIG/MIG.
        p При проектировании данного производства, специалистами ООО «Производственная Компания ТЕРРА» была разработана уникальная технологическая цепочка полного цикла, позволяющая изготавливать детали для нефтегазовой промышленности, объектов ВПК, химической отрасли и фармацевтики, а также других отраслей промышленности.
      .s-about-company__more
        #collapseExample.collapse
          p Производственная Компания «ТЕРРА» это инновационный проект по организации высокотехнологичного производства, специализирующегося на выпуске деталей из листового металла с использованием технологии ротационной вытяжки, гибки, отбортовки, вальцовки и сварки, включая сварку методом TIG/MIG.
        button.s-about-company__show-more-btn(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
          | Показать больше