.s-about-company {
  @include section-paddings;

  &__container {
    @include section-container;
  }

  &__title {
    @include section-title;
  }

  &__more {
    padding-top: 0.5rem;
  }

  &__show-more-btn {
    padding: 0;
    margin: 0;
    color: $primary-color;
    font-size: ms(-1);
    font-weight: 500;
    line-height: 1.5em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(1);
      transition: transform 0.5s $transition-timing;
      transform-origin: left center;
    }
  }
}