mixin promo()

  .s-promo
    .s-promo__slider
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-info
                .s-promo__slide-container
                  h2.s-promo__slide-title Высокотехнологическое производство
                  p.s-promo__slide-desc Выпуск деталей из листового металла с использованием технологии ротационной вытяжки, гибки, отбортовки, вальцовки и сварки.
                  +btn('Изучить подробнее')(href='/')
              .s-promo__slide-cover
                img(src='https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-info
                .s-promo__slide-container
                  h2.s-promo__slide-title Высокотехнологическое производство
                  p.s-promo__slide-desc Выпуск деталей из листового металла с использованием технологии ротационной вытяжки, гибки, отбортовки, вальцовки и сварки.
                  +btn('Изучить подробнее')(href='/')
              .s-promo__slide-cover
                img(src='https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-info
                .s-promo__slide-container
                  h2.s-promo__slide-title Высокотехнологическое производство
                  p.s-promo__slide-desc Выпуск деталей из листового металла с использованием технологии ротационной вытяжки, гибки, отбортовки, вальцовки и сварки.
                  +btn('Изучить подробнее')(href='/')
              .s-promo__slide-cover
                img(src='https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
