.s-promo {

  &__slide {
    position: relative;
    padding: 3rem 1rem;
    background-color: $text-color;
    color: #fff;
    min-height: 600px;
    display: flex;
    align-items: center;
  }

  &__slide-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }

  &__slide-info {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &__slide-title {
    font-size: ms(1);
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: 700;
    max-width: 750px;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(2);
      line-height: 1.2em;
    }
  }

  &__slide-desc {
    font-size: ms(-1);
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 750px;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(0);
    }
  }

  &__slide-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.5);
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}