.s-news {
  @include section-paddings;

  &__container {
    @include section-container;
  }

  &__title {
    @include section-title;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    margin: 0;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }
}