mixin news()

  article.s-news
    .s-news__container
      h2.s-news__title Новости
      ul.s-news__list.row
        li.s-news__item.col-12.col-sm-6.col-lg-3
          +news-card('Приходите на выставку', 'Приглашаем посетить стенд 72В70 (7 павильон/1 этаж) на выставке “Металлообработка 2019”, где представители Металлообработка, где представители Металлообработка,')
        li.s-news__item.col-12.col-sm-6.col-lg-3
          +news-card('Запуск производства', 'В мае 2019 года начался последний этап пусконаладочных работ на производственной площадке ООО “ПК “ТЕРРА”.производственной площадке ООО “ПК “ТЕРРА”.производственной.')
        li.s-news__item.col-12.col-sm-6.col-lg-3
          +news-card('Металлообработка 2019', '27-31 мая 2019 года с основными направлениями деятельности ООО “ПК “ТЕРРА” можно ознакомиться на 20ой юбилейной выставке можно ознакомиться на 20ой юбилейной выставке...')
        li.s-news__item.col-12.col-sm-6.col-lg-3
          +news-card('Запуск производства', 'В мае 2019 года начался последний этап пусконаладочных работ на производственной площадке ООО “ПК “ТЕРРА”. этап пусконаладочных работ на производственной площадке')