mixin news-card(title, desc)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +news-card()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-news-card--' + modsList[i].trim();
      }
    }

  .s-news-card(href='/', class=allMods)&attributes(attributes)
    ul.s-news-card__meta-list
      li.s-news-card__meta-item
        time.s-news-card__datetime(datetime='2020-07-03') 20.03.2020
      li.s-news-card__meta-item
        a.s-news-card__label(href='') Новости
    h3.s-news-card__title
      a(href='') #{title}
    p.s-news-card__desc #{desc}
    a.s-news-card__open(href='/') Открыть статью
