.s-news-card {

  &__meta-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0.75rem;
  }

  &__meta-item {
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    position: relative;
    display: inline-flex;

    &:not(:last-child) {
      padding-right: 0.5rem;
      margin-right: 0.5rem;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        height: 1em;
        width: 1px;
        transform: translate3d(50%,-50%,0);
        background-color: currentColor;
        opacity: 0.25;
      }
    }
  }

  &__datetime {
    display: inline-block;
    font-variant-numeric: oldstyle-nums;
  }

  &__label {
    display: inline-block;
    color: $primary-color;
    text-decoration: underline;
  }

  &__title {
    font-size: ms(0);
    font-weight: 700;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0.5rem;

    a {
      color: currentColor;

      &:hover,
      &:focus {
        color: currentColor;
        text-decoration: none;
      }
    }
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.4em;
    opacity: 0.75;
  }

  &__open {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    display: inline-block;
    color: $primary-color;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
      transform: scaleX(1);
      transition: transform 0.5s $transition-timing--linear;
      transform-origin: left center;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary-color;

      &::after {
        transform: scaleX(0);
        transform-origin: right center;
      }
    }
  }
}