.s-about-company-page {

  &__container {

  }

  &__intro {
    position: relative;
    padding: 3rem 1rem;
    background-color: $text-color;
    color: #fff;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
  }

  &__breadcrumb {
    color: #fff;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: 700;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(2);
      line-height: 1.2em;
      margin-left: -0.125rem;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.5);
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__info {
    padding: 2.25rem 1rem;
  }

  &__video {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}