.s-slider-nav {

  &__btn {
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s $transition-timing--linear;

    &::after {
      position: absolute;
      content: '';
      top: -0.75rem;
      right: -0.75rem;
      bottom: -0.75rem;
      left: -0.75rem;
    }

    @media only screen and (max-width: ($screen-sm - 1)) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      height: 50px;
      background-color: $text-color;
      color: #fff;
    }

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      height: 19px;
    }

    svg {
      display: block;
      transition: all 0.5s $transition-timing--linear;
      fill: currentColor;
    }

    &[aria-disabled='true'] {

      svg {
        opacity: 0.25;
      }
    }

    &:not([aria-disabled='true']):active {

      @media only screen and (max-width: ($screen-sm - 1)) {
        background-color: lighten($text-color, 5%);
      }
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    &:active {

      svg {

        @media only screen and (min-width: $screen-sm) {
          fill: $primary-color;
        }
      }
    }

    &--prev {
      padding-right: 0.75rem;

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }

      @media only screen and (max-width: ($screen-sm - 1)) {
        border-right: 1px solid rgba(#fff, 0.05);
      }
    }

    &--next {
      padding-left: 0.75rem;
    }
  }
}