.s-pagination {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__list {
    list-style-type: none;
    display: inline-block;

    &:after {
      display: table;
      content: '';
      clear: both;
    }
  }

  &__item {
    display: inline-block;
    margin: 0;
    text-align: center;
    float: left;
    vertical-align: bottom;

    a,
    span {
      padding: 0.75rem 1rem;
      display: inline-block;
      line-height: 1.2em;
      color: currentColor;
      position: relative;
      min-width: 2.25rem;

      @media (min-width: $screen-sm) {
        min-width: 3rem;
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background-color: transparent;
        height: 2px;
      }
    }

    &:last-child {

      a,
      span {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }

    &:first-child {

      a,
      span {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
    }


    &:not(.s-pagination__item--active):hover {

      a {}
    }

    &--active {

      a,
      span {

        &::after {
          border-radius: $border-radius;
        }
      }
    }
  }
}