.s-breadcrumb {
  padding: 0;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: currentColor;

  a {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 0.3em;
    white-space: nowrap;
    font-size: ms(-1);
    line-height: 1.4em;

    &:not(:last-child):after {
      content: '>';
      display: inline-block;
      margin-left: 0.4rem;
    }
  }
}