.s-page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-left: 1rem;
  padding-right: 1rem;
  color: $text-color;
  background-color: #fff;
  transition: 0.25s $transition-timing--linear;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    will-change: transform;
    transform: scaleY(0);
    transition: 0.25s $transition-timing--linear;
    box-shadow: 0 1px 1px rgba($text-color, 0.125);
    transform-origin: center top;
    z-index: -1;
  }

  &__top-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: ms(-1);
    max-width: 1300px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4em;
    font-weight: 500;
    border-bottom: 1px solid rgba(#fff, 0.125);

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__contact-link {
    color: #fff;

    svg {
      display: inline-block;
      vertical-align: middle;
      transform: translateY(-1px);
      margin-right: 0.5rem;
    }

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  &__bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__bottom-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: ($screen-sm - 1)) {
      border-bottom: 1px solid rgba(#fff, 0.125);
      padding-bottom: 1rem;
    }
  }

  &__logo {
    color: #fff;

    @media only screen and (max-width: ($screen-sm - 1)) {

      svg {
        width: 145px;
        height: 30px;
      }
    }
  }

  &__nav {

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    li {
      padding: 0;
      margin: 0;
      font-size: ms(-1);
      line-height: 1.4em;
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      a {
        position: relative;
        display: inline-block;
        color: #fff;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: currentColor;
          transform: scaleX(0);
          transition: transform 0.5s $transition-timing--linear;
          transform-origin: right center;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: left center;
          }
        }
      }
    }
  }

  &__get-a-call {
    background-color: rgba(#fff, 0.125);

    @media only screen and (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__hamburger {

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }
  }

  &--transparent {
    color: #fff;
    background-color: transparent;
  }
}