mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__top
      .s-page-header__top-container
        a.s-page-header__contact-link(href='mailto:assistant.mcterra@gmail.com')
          +svg-icon('send', 12, 12)
          | assistant.mcterra@gmail.com
        a.s-page-header__contact-link(href='tel:+78123478789')
          +svg-icon('call', 12, 12)
          | +7 (812) 347-87-89
    .s-page-header__bottom
      .s-page-header__bottom-container
        +logo('/').s-page-header__logo
        nav.s-page-header__nav
          ul.s-page-header__nav-list
            li: a(href='') О компании
            li: a(href='') Услуги
            li: a(href='') Продукция
            li: a(href='') Цены
            li: a(href='') Отрасли
            li: a(href='') Контакты
        +btn('Обратный звонок').s-page-header__get-a-call
        +hamburger().s-page-header__hamburger