.s-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 101;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: $transition-timing--linear;
  transition-delay: 0s;
  pointer-events: none;
  overflow-y: scroll;
  text-align: right;

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $text-color;
    padding: 0;
    display: flex;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid rgba($text-color, 0.25);

    svg {
      fill: currentColor;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &::before {
      position: absolute;
      content: '';
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
    }
  }

  &__inner {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5rem 1rem 1.5rem 1rem;
    overflow-y: scroll;
  }

  &__list {
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    li {
      font-size: ms(0);
      line-height: 1.4em;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        color: $text-color;
        max-width: 12.5rem;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $text-color;
        }
      }
    }
  }

  &__contact-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.5em;
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        color: $text-color;

        svg {
          display: inline-block;
          vertical-align: middle;
          transform: translateY(-1px);
          margin-right: 0.5rem;
        }
      }
    }
  }

  &__get-a-call {
    margin-top: 0.75rem;

    @media only screen and (max-width: ($screen-xs - 1)) {
      width: 100%;
      justify-content: center;
    }
  }

  &--is-active {
    opacity: 1;
    pointer-events: all;
  }
}