//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/table/table.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/promo/promo.pug
include ../blocks/social/social.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/services/services.pug
include ../blocks/products/products.pug
include ../blocks/about-company/about-company.pug
include ../blocks/production/production.pug
include ../blocks/news/news.pug
include ../blocks/product-card/product-card.pug
include ../blocks/main-slider/main-slider.pug
include ../blocks/slider-nav/slider-nav.pug
include ../blocks/service-card/service-card.pug
include ../blocks/news-card/news-card.pug
include ../blocks/about-company-page/about-company-page.pug
include ../blocks/certificates/certificates.pug
