mixin services()

  section.s-services
    .s-services__container
      h2.s-services__title Услуги и цены
      .s-services__slider
        .swiper-container
          .swiper-wrapper.s-services__slider-wrapper
            .swiper-slide
              +service-card('img/drilling.svg', 'Сверление')
            .swiper-slide
              +service-card('img/folding.svg', 'Вальцовка')
            .swiper-slide
              +service-card('img/welding.svg', 'Сварка')
            .swiper-slide
              +service-card('img/exctracting.svg', 'Ротационная вытяжка')
            .swiper-slide
              +service-card('img/cutting.svg', 'Резка')
            .swiper-slide
              +service-card('img/plasma-cutting.svg', 'Плазменная резка')
            .swiper-slide
              +service-card('img/lathe-work.svg', 'Токарные работы')
            .swiper-slide
              +service-card('img/draw.svg', 'Изделия по чертежам')
            .swiper-slide
              +service-card('img/bending.svg', 'Гибка')
      .s-services__slider-nav.s-slider-nav
        button.s-slider-nav__btn.s-slider-nav__btn--prev
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
            path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
        button.s-slider-nav__btn.s-slider-nav__btn--next
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
            path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')