.s-production {
  @include section-paddings;
  background-color: $bg-color--shade;

  &__container {
    @include section-container;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
    }
  }

  &__title {
    @include section-title;

    @media only screen and (min-width: $screen-sm) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      order: 1;
    }
  }

  &__slider {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 3;
    }
  }

  &__slider-wrapper {
    counter-reset: section;
  }

  &__slider-nav {
    display: flex;
    flex-flow: row nowrap;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      order: 2;
      align-items: center;
    }
  }

  &__thumb {
    position: relative;
    display: block;
    cursor: zoom-in;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (3 / 4) * 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}