mixin production()

  section.s-production
    .s-production__container
      h2.s-production__title Производство и цены
      .s-production__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              a.s-production__thumb(href='https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=802&q=80')
                img(src='https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=802&q=80', alt='')
            .swiper-slide
              a.s-production__thumb(href='https://images.unsplash.com/photo-1564183063457-680b3759a5bd?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1564183063457-680b3759a5bd?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='')
            .swiper-slide
              a.s-production__thumb(href='https://images.unsplash.com/photo-1564182910174-53c0e19cb519?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1564182910174-53c0e19cb519?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='')
            .swiper-slide
              a.s-production__thumb(href='https://images.unsplash.com/photo-1564182999070-744933bbe318?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1564182999070-744933bbe318?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='')
            .swiper-slide
              a.s-production__thumb(href='https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=802&q=80')
                img(src='https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=802&q=80', alt='')
            .swiper-slide
              a.s-production__thumb(href='https://images.unsplash.com/photo-1564183063457-680b3759a5bd?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1564183063457-680b3759a5bd?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='')
            .swiper-slide
              a.s-production__thumb(href='https://images.unsplash.com/photo-1564182910174-53c0e19cb519?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1564182910174-53c0e19cb519?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='')
            .swiper-slide
              a.s-production__thumb(href='https://images.unsplash.com/photo-1564182999070-744933bbe318?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1564182999070-744933bbe318?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='')
      .s-production__slider-nav.s-slider-nav
        button.s-slider-nav__btn.s-slider-nav__btn--prev
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
            path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
        button.s-slider-nav__btn.s-slider-nav__btn--next
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
            path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')