mixin logo(href, mods)

  //- Param:
    href  {string} - link
    mods  {string} - modifiers

  //- Use:
    +logo('/')
  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-logo--' + modsList[i].trim();
      }
    }

  a.s-logo(class=allMods, href=href)&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 197 40', width='197', height='40')
      path(d='M55 15.4391h9.2078V30h6.0726V15.4391h7.0046l3.926-5.1133H58.926L55 15.4391z')
      path(d='M89.1619 22.2663h12.0601l3.489-4.4759H89.1619v-2.3513h12.6961l3.94-5.1133H83.0611V30h18.8959l3.898-5.0567H89.1619v-2.677z')
      path(d='M131.303 12.3796c-2.051-1.4723-4.543-2.197-7.061-2.0538h-12.315l-4.025 5.1133h16.947c1.977 0 2.966.7507 2.966 2.238.014.3152-.047.6294-.18.9155s-.333.5357-.583.7275c-.643.4504-1.42.67-2.203.6232h-16.947V30h6.045v-5.0283h10.267c2.508.1288 4.989-.5729 7.061-1.9972.789-.6372 1.427-1.4438 1.864-2.3606.438-.9168.665-1.9203.665-2.9368 0-1.0166-.227-2.0201-.665-2.9369-.437-.9168-1.075-1.7234-1.864-2.3606h.028z')
      path(d='M160.282 12.3796c-2.052-1.4703-4.543-2.1947-7.061-2.0538h-12.315l-4.025 5.1133h16.947c1.977 0 2.966.7507 2.966 2.238.014.3152-.047.6294-.18.9155s-.333.5357-.583.7275c-.644.4484-1.42.6677-2.203.6232h-16.947V30h6.045v-5.0283h10.267c2.508.1288 4.989-.5729 7.061-1.9972.789-.6372 1.427-1.4438 1.864-2.3606.438-.9168.665-1.9203.665-2.9368 0-1.0166-.227-2.0201-.665-2.9369-.437-.9168-1.075-1.7234-1.864-2.3606h.028z')
      path(d='M177.85 24.9433L174.192 30H197l-12.258-17.8045c-.402-.6694-.969-1.2233-1.647-1.608-.678-.3847-1.444-.5871-2.223-.5875-.785.0094-1.555.2151-2.24.5985-.686.3834-1.265.9323-1.686 1.597L164.363 30h7.189l9.207-13.0595 3.517 5.1983.522.7365.537.7649.932 1.4165h-1.638l-6.779-.1134z')
      path(d='M39.9513 28.0636c-.1662-.2977-.4368-.5254-.7612-.6408-.2479-.1003-.5022-.1845-.7613-.2522-.7969-.1937-1.6061-.3349-2.4221-.4226l-.526-.0545c-.7266-.1159-1.5363-.2181-2.4013-.3067.0346-.7498.0484-1.4928.0415-2.2358 0 .743-.0485 1.486-.1108 2.2289-4.3236-.4167-8.666-.6169-13.0103-.5998-4.3443-.0171-8.6867.1831-13.01041.5998-.06229-.7429-.09689-1.4859-.11073-2.2289 0 .743 0 1.486.04844 2.2358-.78892.0818-1.52249.1772-2.19377.2726l-.54671.0545c-.81481.0863-1.62364.2206-2.42215.4022-.24843.0565-.49336.1271-.73356.2113-.326075.1059-.622372.2856-.865051.5249-.1136033.1305-.17292915.2985-.1660901.4703.017012.0819.0425208.1618.0761246.2385v.2045c.0074799.4891.0537565.9768.1384085 1.4587.129207.7712.371655 1.5197.719723 2.2221.468625.9416 1.142005 1.7701 1.972315 2.4266 2.17349 1.6451 4.63367 2.8855 7.25956 3.6603 3.2018 1 6.5442 1.4946 9.9031 1.4655 1.7357.0053 3.4691-.1269 5.1834-.3954 1.5891-.2647 3.1571-.6406 4.692-1.1246 2.6516-.699 5.1294-1.9262 7.2803-3.6058.808-.6764 1.4875-1.4888 2.0069-2.3993.3745-.6921.6095-1.449.692-2.229.0442-.4875.0442-.9779 0-1.4654v-.2045c.0436-.0776.0687-.164.0735-.2525.0048-.0886-.0108-.177-.0458-.2587zm-4.4844-1.1997l.4983.1022c.7891.1669 1.5678.3785 2.3321.634.2104.0768.416.1656.616.2658.1448.0612.266.1662.346.2999.0623.1636-.1177.2931-.2561.3544l-.2491.1091-.3945.1295c-1.8421.4196-3.7176.6819-5.6055.7839.1522-.9884.2491-1.9835.3045-2.9787.8858.0818 1.6886.184 2.4083.2999zm-15.4671-.9134c4.3397-.0245 8.6777.1734 12.9965.593-.083 1.002-.2145 2.004-.3945 2.9924-.7958.0613-1.6193.109-2.4636.1636-3.1419.1567-6.6021.2249-10.2353.2249-3.6332 0-7.1004-.075-10.21455-.2454-.78201-.0409-1.53633-.0886-2.2699-.1431-.17993-.9884-.31141-1.9904-.39446-2.9924 4.31191-.4189 8.64301-.6168 12.97581-.593zM7.2316 29.5222c-.69204-.0545-1.38408-.1158-2.00692-.184-1.27259-.1193-2.53224-.3473-3.7647-.6816-.19319-.0524-.37913-.128-.553637-.225-.152249-.0681-.228373-.2794-.089965-.3817.116305-.1199.258102-.213.415222-.2726.2255-.0992.45656-.1857.69204-.259.76792-.2459 1.54876-.4506 2.3391-.6135l.49135-.1022c.69205-.0955 1.38409-.1909 2.21454-.2795.02076 1.0224.11764 2.0176.26297 2.9991zm-4.1038 5.0713c-.81997-.6008-1.4996-1.3679-1.99308-2.2494-.371611-.6727-.646445-1.393-.816612-2.1402-.110659-.4755-.184687-.9586-.2214533-1.4451v-.1295c.0464143.0669.0972753.1306.1522493.1909.282147.2477.611484.4377.968856.5589 1.25638.4442 2.55462.7639 3.87543.9543.74741.1295 1.53634.2385 2.3391.3408.13149.6816.28374 1.3291.46367 1.9835.35959 1.3955.91883 2.7335 1.6609 3.9739.32932.542.73214 1.0373 1.19724 1.4723l-.3737-.1432c-2.59873-.6963-5.05341-1.836-7.2526-3.3672zm21.9931 4.3419c-1.6797.2411-3.3752.3595-5.0727.3545-2.7186.0143-5.4294-.2877-8.0761-.8998-.2599-.1175-.504-.2663-.7267-.443-.5461-.4331-1.014-.9539-1.38404-1.5405-.76017-1.1968-1.34495-2.4933-1.73702-3.8511-.19378-.6271-.35986-1.2542-.49827-1.895l1.94463.2182c3.1696.2999 6.6644.4635 10.3322.4703 3.6678.0068 7.1557-.1568 10.3252-.4567.7336-.075 1.4533-.15 2.1454-.2386-.1384.6408-.3045 1.2747-.4914 1.9018-.3978 1.3569-.9847 2.6529-1.7439 3.8511-.3684.5878-.8366 1.1088-1.3841 1.5405-.1808.1415-.3756.2648-.5813.3681-1.0056.2591-2.0243.4661-3.0519.6202zm14.7612-10.1561c.0159.485-.0072.9704-.0692 1.4518-.1266.7552-.3991 1.4794-.8028 2.1335-.5418.8555-1.2302 1.612-2.0346 2.2357-2.1651 1.5534-4.6168 2.6763-7.2179 3.3059l-.443.1159c.439-.4248.8205-.9036 1.135-1.4246.7414-1.2415 1.3028-2.5791 1.6678-3.9739.173-.6816.3253-1.3223.4568-1.9903 2.0428-.2063 4.0597-.6127 6.0207-1.2133l.4291-.1772c.1825-.0847.3583-.1827.5259-.2931.1378-.0876.2518-.207.3322-.3477v.1773z')
      path(d='M39.9306 11.2411c-.0078-.4913-.0541-.9812-.1384-1.46549-.1205-.76975-.3536-1.51824-.6921-2.22209-.4786-.94504-1.164-1.77379-2.0069-2.42658-2.1723-1.64544-4.6329-2.88383-7.2595-3.6535C26.6396.469964 23.3039-.0270066 19.9513.00113117 18.2179-.00418525 16.4868.128023 14.7749.396473c-1.5923.263755-3.1628.641927-4.699 1.131497-2.66245.6925-5.15061 1.92017-7.30796 3.60578-.79525.6682-1.46517 1.46878-1.979236 2.36524-.373178.69258-.608098 1.4492-.6920419 2.2289-.0440148.48981-.0440148.98251 0 1.47231v.2386c-.0470403.0772-.0758213.1639-.0842075.2535-.00838617.0897.0038377.1801.0357646.2645.1636688.2997.4352028.5282.7612458.6407.246745.1034.501255.1877.761245.2522.79695.1938 1.60612.335 2.42215.4226l.51903.0546c.76124.1158 1.59861.2249 2.49827.3203-.09689 1.2474-.13149 2.4948-.11765 3.7421 0-1.2473.08997-2.4947.21453-3.7353 4.28496.4077 8.58796.6034 12.89276.5862 4.3094.0173 8.617-.1783 12.9066-.5862.1314 1.2406.2006 2.488.2214 3.7353 0-1.2473 0-2.4947-.1246-3.7489.8097-.0818 1.571-.1772 2.263-.2795l.5467-.0545c.8153-.0829 1.6243-.2172 2.4222-.4021.2487-.0556.4936-.1262.7335-.2113.3274-.1033.6243-.2834.8651-.5249.1136-.1305.1729-.2985.1661-.4703-.017-.0819-.0425-.1618-.0761-.2386l.0069-.2181zM14.8787 1.06446c1.679-.250151 3.3745-.377735 5.0726-.381706 2.7438-.0059 5.4784.312189 8.1454.947456.2776.14972.5336.33541.7612.55212.5537.52262 1.0207 1.12752 1.3841 1.79266.746 1.34844 1.3157 2.78444 1.6955 4.27378.1038.37489.1938.74979.2768 1.12468-.5813-.07498-1.1695-.14314-1.7785-.19767-3.1696-.30673-6.6644-.47032-10.3322-.47714-3.6678-.00681-7.1557.16359-10.32528.45669l-1.96539.21812c.08996-.37489.17993-.74979.27681-1.12468.38291-1.48837.95246-2.92401 1.6955-4.27378.36576-.66364.83256-1.26821 1.38406-1.79266.2086-.19385.4411-.36103.6921-.49759.9942-.25796 2.0013-.465 3.0173-.62028zM.117423 11.4456v-.2181c-.015938-.4873.007202-.975.069205-1.45871.126611-.75518.399124-1.47942.802768-2.13348C1.53122 6.77979 2.21963 6.02333 3.024 5.39959c2.16609-1.55447 4.62074-2.67532 7.2249-3.29906l.5398-.14314c-.5347.54387-.98268 1.16437-1.32872 1.84038-.72188 1.3886-1.26362 2.8611-1.61245 4.38284-.09689.40216-.17993.80432-.26298 1.21329-2.10472.2023-4.18263.618-6.20069 1.2406-.14533.0545-.29066.109-.429066.1772-.183756.0795-.359796.1753-.525952.2863-.127053.0934-.233085.2118-.311419.3476zm4.415227 1.7449l-.49827-.109c-.78707-.1661-1.56351-.3778-2.32526-.6339-.21286-.0736-.42087-.1601-.62284-.259-.143799-.066-.264296-.1728-.346019-.3068-.062284-.1636.124567-.2931.256055-.3544l.242214-.0954c.12457-.0478.26298-.0818.39446-.1296 1.89035-.4257 3.81442-.6902 5.75087-.7906-.16609.9951-.27682 1.9903-.35986 2.9923-.9135-.0954-1.75087-.2045-2.49135-.3136zm15.46715.9066c-4.298.0272-8.5945-.1662-12.872-.5794.11073-1.0156.24914-2.0449.44291-3.0196.74741-.0545 1.50865-.1022 2.29066-.1431 3.14183-.1636 6.60203-.2318 10.23533-.2318 3.6332 0 7.1003.075 10.2353.2454.7266.0409 1.4256.0818 2.1107.1363.1938.9952.3391 2.004.4498 3.0128-4.2847.4098-8.5879.6032-12.8927.5794zm12.6367-3.5785c.7335.0545 1.4532.1159 2.1384.1908 1.2731.1158 2.533.3439 3.7647.6817.1937.0477.3799.1211.5536.2181.037.0144.0699.0373.0961.0668.0261.0295.0447.0648.0542.1028.0094.038.0095.0778.0003.1158-.0093.0381-.0277.0735-.0537.1031-.1241.1202-.2727.2131-.436.2726-.225.1005-.4561.187-.692.2591-.768.2458-1.5488.4506-2.3391.6134l-.4914.1023c-.692.1022-1.4533.1976-2.2906.2863-.0416-1.0179-.1431-2.0222-.3045-3.0128zm7.1211.7429c-.2829-.2467-.6121-.4365-.9689-.5589-1.2564-.4442-2.5546-.7639-3.8754-.95426-.7959-.13632-1.6263-.24538-2.4845-.35444-.0761-.40216-.166-.80432-.256-1.20647-.3514-1.52319-.893-2.99763-1.6125-4.38966-.3643-.69106-.8308-1.32505-1.3841-1.88128l.4637.12951c2.5899.69938 5.0369 1.83641 7.2318 3.3604.8202.60069 1.4998 1.36775 1.9931 2.24936.3705.67321.6453 1.39338.8166 2.1403.1107.47554.1847.95854.2215 1.44504v.2181c-.0424-.07-.091-.1362-.1453-.1977z')
      path(d='M16.1243 22.7605v-5.5211H8.65721v5.5211h1.74399v-4.0829h3.9861v4.0829h1.737z')
      path(d='M19.0032 17.2394h-1.7439v5.5211h1.7439v-1.7654-.6134c.1869.1772.5329.4907 1.0381.927l1.6955 1.4518h2.6228l-2.3183-1.8199-.2492-.1909-.2214-.1772-.4221-.3203-.1592-.1159-.1592-.1159-.2699-.1772c.346-.2181.8305-.559 1.4533-1.0156l2.1453-1.5882h-2.5398l-1.6193 1.3632c-.2146.1772-.4222.3613-.6229.5385l-.1176.1023-.1038.0954-.1869.1636c0-.225.0346-.5453.0346-.9611v-1.3019z')
      path(d='M28.7403 22.7605v-4.0829h2l1.128-1.4382h-6.3737l-1.1211 1.4382h2.6297v4.0829h1.7371z')

