.s-page-footer {
  background-color: $bg-color--dark;
  color: #fff;
  padding: 2.25rem 1rem 1rem;

  &__container {
    @include section-container;
  }

  &__intro {

    @media only screen and (max-width: ($screen-sm - 1)) {
      margin-bottom: 2.25rem;
    }
  }

  &__logo {
    color: #fff;
    margin-bottom: 2.25rem;
  }

  &__slogan {
    display: block;
    max-width: 300px;
    position: relative;
    font-size: ms(-1);
    line-height: 1.5em;
    font-weight: 500;
    margin-bottom: 1.5rem;

    &::before {
      position: absolute;
      content: '';
      top: -0.75rem;
      left: 0;
      height: 2px;
      width: 2.25rem;
      background-color: $primary-color;
    }
  }

  &__subtitle {
    font-size: ms(-2);
    line-height: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  &__nav {

    @media only screen and (max-width: ($screen-sm - 1)) {
      margin-bottom: 1.5rem;
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.5em;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        color: currentColor;
        opacity: 0.75;

        &:hover,
        &:focus {
          text-decoration: none;
          opacity: 1;
        }
      }
    }
  }

  &__contacts {

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0;
      margin: 0;
      font-size: ms(-1);
      line-height: 1.5em;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        color: currentColor;
        opacity: 0.75;

        svg {
          display: inline-block;
          vertical-align: middle;
          transform: translateY(-1px);
          margin-right: 0.5rem;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          opacity: 1;
        }
      }
    }
  }

  &__address {
    font-size: ms(-1);
    line-height: 1.5em;
    opacity: 0.75;
  }

  &__copyright {
    border-top: 1px solid rgba(#fff, 0.125);
    font-size: ms(-1);
    line-height: 1.5em;
    color: rgba(#fff, 0.5);
    padding-top: 1rem;
    margin-top: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-top: 2.25rem;
    }
  }
}