mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__container
      .row
        .col-12.col-md-6
          .s-page-footer__intro
            +logo('/').s-page-footer__logo
            strong.s-page-footer__slogan Мы всегда готовы, ответить на все ваши вопросы. Напишите или позвоните нам.
            +btn('Обратный звонок')
        .col-12.col-md-3
          .s-page-footer__nav
            h3.s-page-footer__subtitle Информация
            ul.s-page-footer__nav-list
              li: a(href='/') О компании
              li: a(href='/') Услуги
              li: a(href='/') Продукция
              li: a(href='/') Цены
              li: a(href='/') Отрасли
              li: a(href='/') Контакты
        .col-12.col-md-3
          .s-page-footer__contacts
            h3.s-page-footer__subtitle Связаться с нами
            ul.s-page-footer__contacts-list
              li: a(href='tel:+78123478789')
                +svg-icon('call', 12, 12)
                | +7 (812) 347-87-89
              li: a(href='mailto:assistant.mcterra@gmail.com')
                +svg-icon('send', 12, 12)
                | assistant.mcterra@gmail.com
          .s-page-footer__contacts
            h3.s-page-footer__subtitle Адрес
            address.s-page-footer__address 197022 Санкт-Петербург, Аптекарская наб. д.20 лит.А оф.301/4
        .col-12
          .s-page-footer__copyright
            | © 2020 — Terra
