mixin service-card(image, title)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +service-card()

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-service-card--' + modsList[i].trim();
      }
    }

  a.s-service-card(href='/', class=allMods)&attributes(attributes)
    figure.s-service-card__figure
      img.s-service-card__cover(src=image, alt='', width='210', height='210')
      figcaption.s-service-card__info
        h3.s-service-card__title #{title}
        p.s-service-card__desc Южно-эфиопский грач увёл мышь за хобот на съезд ящериц.