.s-service-card {
  display: block;
  color: $text-color;
  position: relative;
  padding-top: 1.5rem;

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    counter-increment: section;
    content: '/' counter(section, decimal-leading-zero);
    font-variant-numeric: oldstyle-nums;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    color: $primary-color;
    z-index: 0;
  }

  &__figure {
    margin: 0;
    padding: 0;
  }

  &__cover {
    display: block;
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__info {
    padding-right: 0.75rem;
  }

  &__title {
    font-size: ms(-1);
    line-height: 1.4em;
    margin: 0;
    margin-bottom: 0.25rem;
    font-weight: 700;
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    opacity: 0.75;
  }
}