.s-products {
  @include section-paddings;

  &__container {
    @include section-container;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
    }
  }

  &__title {
    @include section-title;

    @media only screen and (min-width: $screen-sm) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      order: 1;
    }
  }

  &__slider {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 3;
    }
  }

  &__slider-nav {
    display: flex;
    flex-flow: row nowrap;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      order: 2;
      align-items: center;
    }
  }
}