mixin certificates()

  section.s-certificates
    .s-certificates__container
      h2.s-certificates__title Сертификаты
      .s-certificates__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              a.s-certificates__thumb(href='https://images.unsplash.com/photo-1584445584400-1a7cc5de77ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=997&q=80')
                img(src='https://images.unsplash.com/photo-1584445584400-1a7cc5de77ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=997&q=80', alt='')
            .swiper-slide
              a.s-certificates__thumb(href='https://images.unsplash.com/photo-1568124924590-969ea0925fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1568124924590-969ea0925fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
            .swiper-slide
              a.s-certificates__thumb(href='https://images.unsplash.com/photo-1568057371698-84d5b4cda971?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1568057371698-84d5b4cda971?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
            .swiper-slide
              a.s-certificates__thumb(href='https://images.unsplash.com/photo-1568057372908-73d9264f37d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1568057372908-73d9264f37d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
            .swiper-slide
              a.s-certificates__thumb(href='https://images.unsplash.com/photo-1584445584400-1a7cc5de77ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=997&q=80')
                img(src='https://images.unsplash.com/photo-1584445584400-1a7cc5de77ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=997&q=80', alt='')
            .swiper-slide
              a.s-certificates__thumb(href='https://images.unsplash.com/photo-1568124924590-969ea0925fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1568124924590-969ea0925fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
            .swiper-slide
              a.s-certificates__thumb(href='https://images.unsplash.com/photo-1568057371698-84d5b4cda971?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1568057371698-84d5b4cda971?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
            .swiper-slide
              a.s-certificates__thumb(href='https://images.unsplash.com/photo-1568057372908-73d9264f37d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')
                img(src='https://images.unsplash.com/photo-1568057372908-73d9264f37d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt='')
      .s-certificates__slider-nav.s-slider-nav
        button.s-slider-nav__btn.s-slider-nav__btn--prev
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
            path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
        button.s-slider-nav__btn.s-slider-nav__btn--next
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
            path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')