extends pug/layout.pug

block meta
  - var title = 'About Company';
  title= title
  meta(name='description', content='')

block header
  +page-header('transparent')
  +mobile-menu

block content
  .s-about-company-page
    .s-about-company-page__intro
      .s-about-company-page__container
        +breadcrumb().s-about-company-page__breadcrumb
          +breadcrumb-item('Главная', 'index.html')
          +breadcrumb-item('О компании')
        h1.s-about-company-page__title О компании
      .s-about-company-page__cover
        img(src='img/about-company-cover.jpg', alt='')
    .s-about-company-page__info
      .s-about-company-page__container
        .s-about-company-page__text
          p Российское производство по серийному выпуску деталей из листового металла.
          p Производственная Компания «ТЕРРА» это инновационный проект по организации высокотехнологичного производства, специализирующегося на выпуске деталей из листового металла с использованием технологии ротационной вытяжки, гибки, отбортовки, вальцовки и сварки, включая сварку методом TIG/MIG.
          p При проектировании данного производства, специалистами ООО «Производственная Компания ТЕРРА» была разработана уникальная технологическая цепочка полного цикла, позволяющая изготавливать детали для нефтегазовой промышленности, объектов ВПК, химической отрасли и фармацевтики, а также других отраслей промышленности.
          p При разработке технологического процесса и подборе оборудования было уделено внимание такому аспекту как характеристика обрабатываемого металла. Установленное оборудование позволяет изготавливать емкости для хранения агрессивных газов/жидкостей, а также емкости, работающие под давлением, обрабатывая заготовки толщиной до 10 мм и диаметром до 3500 мм.
          p Основной задачей данного инвестиционного проекта было создание российского производства, выпускающего качественную продукцию для нужд российской промышленности. Поэтому, компания не только использует современное оборудование, но и уделяет внимание активному контролю качества, разработке пооперационных технологий и типизации технологических процессов.
          p Высококвалифицированные специалисты компании, прошедшие обучение на заводах-изготовителях используемого оборудования, оказывают заказчикам техническую поддержку и консультации на всех этапах работ, от проектирования изделия и изготовления оснастки до получения готовой продукции.
          p Производство расположено на территории технопарка «Ижорский завод» в г.Колпино (Санкт-Петербург).
        .s-about-company-page__video
          iframe(width='100%', height='315', src='https://www.youtube.com/embed/KZBNfn3Qo7I?controls=0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    +certificates()

block footer
  +page-footer