extends pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  +page-header('transparent')
  +mobile-menu

block content
  +promo
  +products
  +services
  +about-company
  +production
  +news

block footer
  +page-footer