// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-color: #1b2532;
$text-color--lighter: #66828f;
$text-color--lightest: #d5dadd;

$bg-color: #fff;
$bg-color--shade: #eef3f6;
$bg-color--dark: $text-color;

$primary-color: #3b70b7;

// Semantic colors
$success: #16c98d;
$warning: #ffc83f;
$danger: #fa5e5b;

// Fonts
$font-family: Geometria,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;

$font-family--monospace: Menlo,
Monaco,
Consolas,
'Liberation Mono',
'Courier New',
nospace;

// Misc
$border-color: rgba($text-color, 0.125);
$border-radius: 2px;
$opacity: 0.5;
$box-shadow: 0 15px 45px -15px rgba($text-color, 0.25);
$transition-timing: cubic-bezier(0.9, .01, .01, 1);
$transition-timing--linear: cubic-bezier(0.165, 0.84, 0.44, 1);

// Layout mixins
@mixin section-paddings {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 4.5rem 1rem;
  }
}

@mixin section-container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

@mixin section-title {
  font-size: ms(1);
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 2.25rem;
  position: relative;
  font-weight: 700;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -0.75rem;
    height: 2px;
    width: 2.25rem;
    background-color: $primary-color;
  }

  @media only screen and (min-width: $screen-sm) {
    margin-bottom: 3rem;
  }
}