.s-hamburger {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: transparent;
  padding: 0;
  position: relative;
  cursor: pointer;
  color: #fff;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid currentColor;
    border-radius: 100%;
    z-index: 2;
    transition: all 0.75s $transition-timing--linear;
    opacity: 0.25;
  }

  @media only screen and (min-width: $screen-sm) {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  span {
    display: inline-block;
    width: 14px;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      right: 0;
      background-color: inherit;
    }

    &::before {
      top: -5px;
      width: 60%;
    }

    &::after {
      bottom: -5px;
      width: 80%;
    }
  }
}